.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  /* Make the header sticky at the top */
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  /* object-fit contais means keep the aspect ratio */
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}

.header__search {
  /* Align all the elements in the row */
  display: flex;
  /* flex 1 says to stretch the container as big as possible */
  flex: 1;
  align-items: center;
  border-radius: 24 px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  /* Make the input field stretch width 100% (we have used flex 1 for header__search to make it responsive) */
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px i !important;
  background-color: #cd9043;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
